.projectSection {
  background: linear-gradient(
    rgb(11, 11, 11) 10%,
    rgb(15, 15, 15),
    rgb(5, 5, 5),
    black,
    black,
    black,
    black
  );
}

.projectTitle {
  padding-top: 6rem;
  background: linear-gradient(
    43deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 46%,
    rgb(255, 204, 112) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
  font-size: 80px;
  text-align: center;
  color: rgb(235, 196, 247);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Catamaran", sans-serif;
}

.projectContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

#project1 {
  background-image: url(../../projects/flixocart.png);
  right: 5%;
  margin-top: 5rem;
}

#project2 {
  background-image: url(../../projects/utilipay.png);
  left: 5%;
}

#project3 {
  background-image: url(../../projects/kiddytoy.png);
  right: 5%;
}

#project4 {
  background-image: url(../../projects/heroapp.png);
  left: 5%;
}

.projectCard {
  width: 80%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  margin: 2rem auto;
  z-index: 1;
  transition: 1s;
}

.projectCard:hover {
  box-shadow: 0px 0px 1000px rgba(102, 5, 53, 0.765);
}

.projectCard::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    #000000b0,
    rgba(0, 0, 0, 0.266),
    #95969600
  );
  z-index: 1;
  transition: 0.5s;
  border-radius: 18px;
  transform-origin: left;
  transform: scaleX(0);
}

.projectCard:hover::before {
  transform: scaleX(1);
}

.projectNumber {
  position: absolute;
  font-size: 180px;
  font-weight: 600;
  color: rgba(245, 217, 231, 0.506);
  display: none;
  z-index: 10;
  transition: 0.8s;
}

.rightNumber {
  top: -60px;
  right: -65px;
}

.leftNumber {
  top: -60px;
  left: -65px;
}

.projectCard:hover .projectNumber {
  display: block;
}

.projectCard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1f1f1f9a;
  border-radius: 20px;
  z-index: 0;
}

.projectContent {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  gap: 1rem;
  color: rgb(255, 255, 255);
  padding: 2em;
  bottom: 7%;
  position: absolute;
  z-index: 5;
  transition: 0.4s;
  max-width: 80%;
}

.leftProjectContent {
  left: 5%;
}

.rightProjectContent {
  right: 5%;
}

.projectSkillsContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  gap: 1em;
}

.projectSkill {
  width: 40px;
}

.projectHeading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
  font-family: "Catamaran", sans-serif;
}

.projectSubHeading {
  font-size: 16px;
  font-style: italic;
  width: 70%;
  opacity: 70%;
  border-radius: 6px;
  backdrop-filter: blur(8px);
}

.projectCard:hover .projectContent {
  transform: scale(1.05);
}

.btnGroup {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.projectBtn {
  border-radius: 40px;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.65em 1.5em;
  letter-spacing: 1px;
  border: none;
  background-position: left;
  background-size: 300%;
  background-image: linear-gradient(135deg, #9419d2, #dc2430, #dc2449, #9a31cf);
  transition: 0.3s;
  cursor: pointer;
}

.projectBtn:hover {
  scale: 0.96;
  background-position: right;
  filter: drop-shadow(0px 0px 20px #2101017e);
}

.icon {
  cursor: pointer;
  color: white;
  font-size: 32px;
  transition: 0.3s;
}

.github {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #11010100;
  border-radius: 40px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1.8px;
  transform-origin: left;
  transition: 0.3s;
}

.github:hover {
  padding: 0.15em 1em;
  background-color: #110101;
  filter: drop-shadow(0px 0px 20px #0000006c);
}

.github:hover::after {
  content: "Github";
  padding-left: 0.6em;
}

.icon:hover,
.github:hover .icon {
  scale: 0.6;
}

@media (max-width: 900px) {
  .projectTitle {
    font-size: 50px;
  }

  .projectContainer {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 0;
    gap: 2rem;
  }

  #project1,
  #project2,
  #project3,
  #project4 {
    left: 0%;
    right: 0%;
  }

  .projectCard {
    margin: 2rem auto;
    height: 250px;
    box-shadow: 0px 0px 100px rgba(61, 0, 66, 0.682);
  }

  .projectCard::before {
    transform: scaleX(1);
  }

  .projectCard::after {
    background-color: #1f1f1f7c;
  }

  .projectContent {
    gap: 0rem;
    padding: 0.5em;
    bottom: 2%;
    transform: scale(1.05);
  }

  .projectNumber {
    font-size: 50px;
    display: block;
    filter: drop-shadow(0px 0px 19px #ffffff);
  }

  .rightNumber,
  .leftNumber {
    top: -20px;
    left: 85%;
  }

  .leftProjectContent,
  .rightProjectContent {
    left: 4%;
  }

  .btnGroup {
    margin-top: 0.4em;
  }

  .projectBtn {
    height: 20px;
    min-width: none;
    font-size: 0.5em;
  }

  .projectSkillsContainer {
    gap: 0.35em;
  }

  .projectSkill {
    width: 17px;
  }

  .projectHeading {
    font-size: 16px;
  }

  .projectSubHeading {
    font-size: 9px;
  }

  .icon {
    font-size: 16px;
    filter: drop-shadow(0px 0px 8px #ffffff);
  }

  .github:hover {
    padding: 0 0;
    background-color: #110101;
    filter: drop-shadow(0px 0px 20px #00000000);
  }

  .github:hover::after {
    content: "";
    padding-left: 0em;
  }

  .icon:hover,
  .github:hover .icon {
    font-size: 16px;
    scale: none;
  }
}
